<form class="form-inline" *ngIf="!this._autService.getUser()">
  <div class="form-group">
    <label from="username">User (type <em>user</em>)</label>
    <input class="form-control" name="username" #username>
  </div>
  <div class="form-group">
    <label for="password">Password (type <em>password</em>)</label>
    <input class="form-control" type="password" name="password" #password/>
  </div>
  <a class="btn btn-default" (click)="logIn(username.value, password.value)">Ingresar</a>
</form>
<a class="btn btn-defaault" (click)="logOut()" *ngIf="this._autService.getUser()">Salir</a>
