<<<<<<< HEAD
  <div class="card-content">
=======
<!-- {{ nombre }}</li> -->
<!-- <div class="col-md-4"> -->
  <div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
>>>>>>> develop
    <div class="card-img">
      <img src="https://placeimg.com/380/230/nature" alt="" />
      <span><h4># {{ id }}</h4></span>
    </div>
    <div class="card-desc">
      <h3>{{ destino.nombre }}</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam,
        voluptatum! Dolor quo, perspiciatis voluptas totam
      </p>
      <div *ngFor="let s of this.destino.getServicios()">
        <div [ngSwitch]="s">
          <span *ngSwitchCase="'piscina'" style="color: red">{{ s }}</span>
          <span *ngSwitchCase="'desayuno'" style="color: blue">{{ s }}</span>
          <span *ngSwitchDefault style="color: green">{{ s }}</span>
        </div>
      </div>
      <div>
        <a href="#" (click)="voteUp()" appTrackingClick data-trackear-tags="destino_vote_up lista_destinos_item" data-id="{{ this.destino.id }}"><i class="material-icons md-18">thumb_up</i></a>
        <a href="#" (click)="voteDown()" appTrackingClick data-trackear-tags="destino_vote_down lista_destinos_item" data-id="{{ this.destino.id }}"><i class="material-icons md-18">thumb_down</i></a>
        {{ destino.votes }}
        <span><a href="#" (click)="resetVotes()">Reiniciar votos</a></span>
      </div>
      <button class="btn-card" (click)="seleccionar()">Seleccionar</button>
      {{ ' ' }}
      <button class="btn-card-delete" (click)="eliminar()">Eliminar</button>

      <p *ngIf="destino.isSelected()">
        <a routerLink="/detalle-destino/{{ destino.id }}" ngNonBindable appTrackingClick data-trackear-tags="destino_elegir_preferido lista_destinos">{{Ir al detalle}}</a>
      </p>

    </div>
  </div>
