<p>detalle-destino works!</p>
<div>
  <p>
    <b>Id</b> {{ this.destino.id }}
  </p>
  <p>
    <b>Nombre</b> {{ this.destino.nombre }}
  </p>
  <hr>
  <mgl-map
    [style]="style"
    [zoom]="[2]"
    class="mapSize"
  >
    <mgl-marker [lngLat]="[-75.551012, 10.421185]">
      <div
        onclick="alert('Hola')"
        class="marker"
      >
        "Este es un mapa en Angular"
      </div>
    </mgl-marker>
  </mgl-map>
</div>
