<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div style="float: right;">
      <select (change)="translate.use($event.target.value)">
        <option value="es">Español</option>
        <option value="fr">France</option>
        <option value="en">English</option>
      </select>
    </div>

    <a class="navbar-brand" href="#">Curso Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>  <!-- routerLink puede funcionar con o sin parentesis de couchete -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/detalle-destino">Detalle destino</a> <!-- routerLink puede funcionar con o sin parentesis de couchete -->
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <h1>
        {{ title }} <b [innerHTML]="'Hola' | translate"></b>
      </h1>
    </div>
  </div>

<router-outlet></router-outlet>



<hr class="mb-5">
Fecha: {{ fecha | async}}
