<h2>
  {{ titulo }}
</h2>

<div class="container content">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <!-- form	card	login	with	validation	feedback	-->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Whishlist</h3>
        </div>
        <div class="card-body">
            <app-form-destino-viajes (onItemAdded)="agregaItem($event)"></app-form-destino-viajes>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5" />
<!--
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let x of destinos">
      <app-destino-viaje [destino]="x"></app-destino-viaje>
    </li>
  </ul>
-->
  <!-- Muestra los cards fuera de una lista -->
  <!-- {{ *ngFor="let d of _destinosApiClientService.getAll(); let i = index" }} -->
  <div	class="row">
    <app-destino-viaje
      *ngFor="let d of all; let i = index"
      [destino]="d"
      (clickItem)="seleccionarItem(d)"
      (clickDeleteItem)="eliminarItem(d)"
      [id]="i"
      appEspiame
      ></app-destino-viaje>
  </div>

  <hr/>

  <div class="row">
    <h3>Historial de seleccionados</h3>
    <div>
      <ul>
        <li *ngFor="let up of updates">{{ up }}</li>
      </ul>
    </div>
  </div>
</div>
