<form
  [formGroup]="form"
  (ngSubmit)="agregar(form.controls['nombre'].value, form.controls['url'].value)"
>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="nombre"
      placeholder="Ingresar nombre..."
      [formControl]="form.controls['nombre']"
    />
    <ul>
      <li *ngFor="let r of this.searchResult">{{ r }}</li>
    </ul>
    <div *ngIf="form.controls['nombre'].hasError('required') && form.controls['nombre'].dirty">Debe ingresar un nombre.</div> <!-- dirty permite que el mensaje de error sólo se muestre una vez que el cuadro detexto ya fue editado -->
    <div *ngIf="form.controls['nombre'].hasError('minLengthNombre')">Ingresa al menos 5 carácteres.</div> <!-- Validación personalizada -->
    <div *ngIf="form.controls['nombre'].hasError('maxLengthNombre')">El nombre no puede superar los {{ largoMaximoNombre }} carácteres.</div> <!-- Validación personalizada -->
  </div>
  <div class="form-group">
    <label for="Imagen	Url">Imagen Url</label>
    <input
      type="text"
      class="form-control"
      id="imagenUrl"
      placeholder="Ingresar	url..."
      [formControl]="form.controls['url']"
    />
    <div *ngIf="form.controls['url'].hasError('required') && form.controls['url'].dirty">Debe ingresar una URL.</div>
    <div *ngIf="form.controls['url'].hasError('maxlength') && form.controls['url'].dirty">La URL ingresada es muy larga.</div>
  </div>
  <!-- <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Guardar!</button> -->
  <button type="submit" class="btn btn-primary" *ngIf="form.valid">Guardar!</button>
</form>
